:root{
    --color-primary-1: #2acfcf;
    --color-primary-2: #3b3054;

    --color-secondary: #f46262;

    --color-neutral-1:#bfbfbf;
    --color-neutral-2:  #9e9aa7;
    --color-neutral-3: #35323e;
    --color-neutral-4: #232127;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    width: 100%;
}



/* Header */
.header{
    padding: 54px 5px;
    align-items: center;
}

.header-logo {
    margin-right: 48px;
    cursor: pointer;
}

/* navbar */

.navbar{
    flex: 1;
    justify-content: space-between;
}

.navbar ul {
    gap: 32px;
    font-size: 1.8rem;
    align-items: center;
    font-weight: 700;
}

.navbar-link{  
    color: var(--color-neutral-2);
    transition: color 0.3s ease;
    padding: 10px;
    display: block;
}
.navbar-link:hover{
    color: var(--color-neutral-3)
}

.navbar-mobile{
    width: 33px;
    height: 33px;
    cursor: pointer;
    display: none;
}

.navbar.showMenu{
    display: block;
    background-color: var(--color-primary-2);
    color: #fff;
    border-radius: 10px;
    margin-top: 22px;
}
/* utils */
.container{
    width: 80vw;
    max-width: 1150px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.btn-small{
    color: #fff;
    background-color: var(--color-primary-1);
    padding: 10px 24px;
    display: block;
    border-radius: 45px;
    transition: all 0.3s ease;
}

.btn-small:hover{
    background-color: rgba(42, 207, 207, 0.623);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 992px){
    .container{
        max-width: 73vw;
    }
    .header {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .navbar{
        display: none;
        flex-basis: 100%;
        padding: 0 24px;
    }
    .navbar-mobile {
        display: block;
    }
    .navbar ul{
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    .navbar ul:nth-child(1){
        padding: 20px 0 10px 0;
    }
    .navbar ul:nth-child(2){
        padding: 10px 0 30px 0;
        border-top: 1px solid var(--color-neutral-2)
    }
    .navbar ul li {
        width: 100%;
        margin: 10px;
    }
    .navbar-link{
        color: #fff;
        padding: 10px;
    }
    .navbar-link:hover{
        color: var(--color-neutral-1)
    }
}

@media (max-width: 768px){
    .container{
        width: 100vw;
        max-width: 330px;
    }
}


